

body {
    background-color: pink;
    color: black;
    font-size: 40px;
    font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  }
  
  h1{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
  }
   #newitem{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
  }


  
  
  
 